<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.telesurtv.www.telesur">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme.Telesur">
        <activity
            android:name=".views.videos.PruebasActivity"
            android:label="@string/app_name">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".views.news.NewsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.videos.VideosActivity"
            android:label="@string/videos" />

        <activity
            android:name=".views.program.ProgramActivity"
            android:label="@string/programas" />

        <activity
            android:name=".views.review.ReviewActivity"
            android:label="@string/review" />

        <activity
            android:name=".views.streaming.StreamingActivity"
            android:label="@string/streaming" />

        <activity
            android:name=".views.about.AboutActivity"
            android:label="@string/about" />


        <activity android:name=".views.videos.VideoDetailActivity" />

        <activity
            android:name=".views.videos.VideoListDetailActivity"
            android:label="@string/video_detail_name" />

        <activity
            android:name=".views.review.ReviewDetailActivity"
            android:label="@string/review_detail_name" />

        <activity android:name=".views.news.NewsDetailActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
</manifest>
